USE [master]
GO
/****** Object:  Database [LegalBotDB]    Script Date: 3/24/2026 11:44:05 AM ******/
CREATE DATABASE [LegalBotDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LegalBotDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LegalBotDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LegalBotDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LegalBotDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LegalBotDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LegalBotDB]
GO
/****** Object:  Table [dbo].[ContractHistory]    Script Date: 3/24/2026 11:44:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractHistory](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[FileName] [nvarchar](260) NOT NULL,
	[OriginalFileName] [nvarchar](260) NULL,
	[FilePath] [nvarchar](1024) NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[AnalysisAt] [datetime2](7) NULL,
	[RiskScore] [int] NULL,
	[Confidence] [float] NULL,
	[AnalysisJson] [nvarchar](max) NULL,
	[AnalysisText] [nvarchar](max) NULL,
	[AIModel] [nvarchar](200) NULL,
	[DurationMs] [int] NULL,
	[IsFinal] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LegalDocuments]    Script Date: 3/24/2026 11:44:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LegalDocuments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[SubTitle] [nvarchar](300) NULL,
	[DocumentNumber] [nvarchar](100) NULL,
	[DocumentType] [nvarchar](150) NULL,
	[Agency] [nvarchar](300) NULL,
	[IssueDate] [date] NULL,
	[SourceUrl] [nvarchar](1000) NULL,
	[Description] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/24/2026 11:44:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](320) NOT NULL,
	[Password] [nvarchar](256) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ContractHistory] ON 

SET IDENTITY_INSERT [dbo].[ContractHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[LegalDocuments] ON 

SET IDENTITY_INSERT [dbo].[LegalDocuments] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [Password], [FullName], [Role], [CreatedAt], [UpdatedAt]) VALUES (1, N'admin@legalbot.local', N'09A458B9C2A43317A67C4088703393DC4522ABADB055FD651C184CAD5186E24A', N'Admin LegAI', N'ADMIN', CAST(N'2025-12-26T07:45:26.6994321' AS DateTime2), NULL)
INSERT [dbo].[Users] ([Id], [Email], [Password], [FullName], [Role], [CreatedAt], [UpdatedAt]) VALUES (2, N'admin@gmail.com', N'123456', N'admin', N'USER', CAST(N'2025-12-26T08:49:35.2748682' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_ContractHistory_AnalysisAt]    Script Date: 3/24/2026 11:44:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_ContractHistory_AnalysisAt] ON [dbo].[ContractHistory]
(
	[AnalysisAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ContractHistory_FileName]    Script Date: 3/24/2026 11:44:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_ContractHistory_FileName] ON [dbo].[ContractHistory]
(
	[FileName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractHistory_UserId]    Script Date: 3/24/2026 11:44:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_ContractHistory_UserId] ON [dbo].[ContractHistory]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LegalDocuments_IssueDate]    Script Date: 3/24/2026 11:44:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_LegalDocuments_IssueDate] ON [dbo].[LegalDocuments]
(
	[IssueDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LegalDocuments_Title]    Script Date: 3/24/2026 11:44:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_LegalDocuments_Title] ON [dbo].[LegalDocuments]
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105349221D020]    Script Date: 3/24/2026 11:44:05 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 3/24/2026 11:44:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ContractHistory] ADD  DEFAULT (sysutcdatetime()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[ContractHistory] ADD  DEFAULT ((1)) FOR [IsFinal]
GO
ALTER TABLE [dbo].[ContractHistory] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LegalDocuments] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ContractHistory]  WITH CHECK ADD  CONSTRAINT [FK_ContractHistory_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ContractHistory] CHECK CONSTRAINT [FK_ContractHistory_Users]
GO
ALTER TABLE [dbo].[ContractHistory]  WITH CHECK ADD CHECK  (([Confidence]>=(0) AND [Confidence]<=(1)))
GO
ALTER TABLE [dbo].[ContractHistory]  WITH CHECK ADD CHECK  (([RiskScore]>=(0) AND [RiskScore]<=(100)))
GO
ALTER TABLE [dbo].[ContractHistory]  WITH CHECK ADD  CONSTRAINT [CK_ContractHistory_AnalysisJson_IsJson] CHECK  (([AnalysisJson] IS NULL OR isjson([AnalysisJson])=(1)))
GO
ALTER TABLE [dbo].[ContractHistory] CHECK CONSTRAINT [CK_ContractHistory_AnalysisJson_IsJson]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_Users_Role] CHECK  (([Role]='EDITOR' OR [Role]='USER' OR [Role]='ADMIN'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_Users_Role]
GO
USE [master]
GO
